.formSection{
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

.formSection p{
    font-family: "Google Sans Code", monospace;
    color: rgb(255, 255, 255);
}


.formInput{
    background-color: rgb(255, 255, 255);
    padding: 0.4rem;
    border-radius: 0.8rem;
    border: 2px solid rgb(0, 29, 156);
    outline: none;

    font-family: "Google Sans Code", monospace;
    color: rgb(0, 29, 156);
}