.secao{
    box-sizing: border-box;
    padding: 1rem 0.5rem;
    margin: 0 auto;
    width: 80vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.secao *{
    flex: 1 1;
}

.titulo{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 30pt;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sectionImage{
    width: 450px; height: 320px;
    border-radius: 0.2rem;
    mask-image: linear-gradient(to left, black 50%, rgba(0, 0, 0, 0.253) 90%, transparent);
}

.secao p {
    font-family: "Google Sans Code", monospace;
    color: white;
}
