:root{
    --gradAzulPadrao: linear-gradient(to bottom right, rgb(42, 116, 255), rgb(22, 65, 255), rgb(0, 29, 156));
    --gradAzulDark: linear-gradient(to bottom right, rgba(22, 65, 255, 0.055), rgb(0, 15, 83));
}

* {
    margin: 0;
}

html, body{
    overflow-x: hidden;
}

body{
    width: 100vw; height: 100vh;
    background-image: linear-gradient(rgb(14, 17, 29), rgb(0, 0, 0));
}

.under-header{
    margin-top: calc(12vh + 0.1rem) !important;
}

*::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

*::-webkit-scrollbar-thumb {
    background-image: var(--gradAzulDark);
    border-radius: 10px;
}
