:root{
    --gradAzulPadrao: linear-gradient(to bottom right, rgb(22, 65, 255), rgb(0, 29, 156));
    --gradAzulDark: linear-gradient(to bottom right, rgb(11, 12, 15), rgb(1, 2, 5));
    --gradVineColor: linear-gradient(to bottom right, rgb(57, 47, 146), rgb(38, 11, 63));
}

* {
    margin: 0;
}

html, body{
    overflow-x: hidden;
}

body{
    width: 100vw; height: 100vh;
    background-image: var(--gradAzulDark);
}

h1{
    font-family: "Inter", sans-serif;
    letter-spacing: -0.2rem;
    color: white;
    font-size: 2.3rem;
}


p, a {
    text-decoration: none;
    font-family: "Google Sans Code", monospace;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    margin-top: calc(12vh + 0.5rem) !important;
}

*::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.096);
}
