.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1.5rem;
    margin: 0.2rem;

    flex: 1;

    box-sizing: border-box;
    background-image: var(--gradVineColor);
    border-radius: 0.5rem;
}

.Card button{
    border: rgba(255, 255, 255, 0.329) 1px solid;
}

.Card button:hover{
    background-image: var(--gradAzulDark);
}

.Card *{
    color: white;
}

.Card h1{
    font-family: "Inter", sans-serif;
    letter-spacing: -0.1rem;
}

.Card h2{
    font-family: "Inter", sans-serif;
}

.Card p{
    font-family: "Google Sans Code", monospace;
}

.Card form{
    display: flex;
    flex-direction: column;

    padding: 2rem 2.5rem;
}